@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

header {
  box-shadow: #dddfe6 0 0.5px 0 0;
  font-size: 2rem;
  width: 100vw;
}

.header-list {
  display: flex;
  gap: 15px;
  justify-content: center;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

a:focus {
  text-decoration: goldenrod underline;
}

.menu-icon {
  display: none;
}

.headline-section {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: space-around;
  width: 100vw;
}

.headline-content {
  width: 40vw;
}

.headline-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 7rem;
}

.headline-p {
  color: #1a2236;
  font-size: 1rem;
  letter-spacing: -0.01em;
  line-height: 21px;
}

.headline-button {
  background-color: #1a2236;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 5vw;
  line-height: 1.5rem;
  text-align: center;
}

.headline-img {
  height: 100%;
  width: 45vw;
}

.project-1 .project-image {
  background-image: url('./media/project-1.png');
}

.project-2 .project-image {
  background-image: url('./media/project-2.png');
}

.project-3 .project-image {
  background-image: url('./media/project-3.png');
}

.project-4 .project-image {
  background-image: url('./media/project-4.png');
}

.project-5 .project-image {
  background-image: url('./media/project-5.png');
}

.project-6 .project-image {
  background-image: url('./media/project-6.png');
}

.wrapper-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.projects-section {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (max-width: 600px) {
  .header-list {
    display: none;
  }

  header nav {
    display: flex;
    justify-content: flex-end;
  }

  .menu-icon {
    background-image: url(./media/icons/menu_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 35px;
    margin: 5vw;
    width: 35px;
  }
}

@media screen and (max-width: 980px) {
  .headline-section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: auto;
    padding: 5vw;
    position: relative;
    width: calc(100% - 20px);
  }

  .headline-content {
    width: 100%;
  }

  .headline-title {
    font-size: 13vw;
    margin-bottom: 7vw;
  }

  .headline-p {
    width: 100%;
    margin-bottom: 10vw;
  }

  .headline-button {
    margin-left: 15%;
    width: 70%;
    font-size: 5vw;
  }

  .headline-img {
    align-self: center;
    height: auto;
    max-width: 100%;
  }

  .section-title {
    padding-left: 2vw;
    font-family: 'Playfair Display', sans-serif;
    font-size: 3rem;
    font-weight: 400;
  }

  .project-image {
    width: 100%;
    height: 58vw;
    background-size: contain;
    position: relative;
    left: -3vw;
  }

  .project-1 .project-image {
    top: -4px;
  }

  .project-name {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1rem;
  }

  .project-technology-container {
    display: flex;
  }

  .project-technology {
    display: flex;
    align-items: center;
    max-width: 30vw;
    font-size: 0.7rem;
    text-align: center;
    background-color: #98dede;
    font-style: normal;
    color: #1a2236;
    padding: 0.3rem;
    margin-right: 1vw;
    margin-top: 1vw;
  }

  .project-container > * {
    margin-left: 3vw;
  }

  .project-container {
    background-color: #1a2236;
    display: flex;
    flex-direction: column;
  }

  .button {
    position: relative;
    background-color: #1a2236;
    display: flex;
    align-items: center;
    padding: 0.3rem;
  }

  .project-button {
    border: #fff solid 0.05rem;
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: fit-content;
  }

  .button a,
  .button a i {
    color: #fff;
    margin: 1vw;
  }

  .about-section {
    display: flex;
    flex-direction: column;
  }

  .about-section > * {
    margin-right: 7vw;
    margin-left: 7vw;
  }

  .cv-button {
    border: #fff solid 0.05rem;
    margin-top: 5vw;
    margin-bottom: 5vw;
    justify-content: center;
    align-content: stretch;
    padding: 3vw;
    font-size: 5vw;
  }

  .about-details-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .about-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 20px;
  }

  .about-detail::after {
    align-self: flex-end;
    content: "";
    position: relative;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;
  }

  .about-detail:nth-of-type(1) {
    background-color: #1c528a;
  }

  .about-detail:nth-of-type(1)::after {
    background: url(./media/ic_languages_mob.svg) no-repeat right/cover;
  }

  .about-detail:nth-of-type(2) {
    background-color: #e2505c;
  }

  .about-detail:nth-of-type(2)::after {
    background: url(./media/ic_framework.svg) no-repeat right/cover;
  }

  .about-detail:nth-of-type(3) {
    background-color: #febf52;
  }

  .about-detail:nth-of-type(3)::after {
    background: url(./media/ic_skills.svg) no-repeat right/cover;
  }

  .about-detail h3 {
    font-size: 6.25vw;
    font-weight: 800;
    line-height: 30px;
  }

  .about-list li {
    list-style: disc;
    font-size: 5.625vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .projects-section {
    grid-template-columns: 1fr 1fr;
  }
}
