@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
}

.header-list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  text-decoration: goldenrod underline;
}

header i {
  display: none;
}

@media screen and (max-width: 600px) {
  .header-list {
    display: none;
  }

  header {
    display: flex;
    justify-content: flex-end;
  }

  header > i {
    display: block;
    margin: 10px;
    background-image: url(./media/icons/menu_black_24dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
  }
}
